@import 'cssresets';
@import 'variables';
@import 'mixins';
@import 'nav';
@import 'img';
@import 'icons';
@import 'links';

body {
  color: $fontColor;
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.home-page__logo {
	width: 50px;
	height:auto;
	
}

.image-header {
	position: relative;
	width: 100%;
	height: 50vh;
	background-image: url("../img/buckwheat.jpg");
	margin-top: -100px;
	z-index: -1;
	image-orientation:180deg;
  	background-size: cover;

  	&__cta {
  		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 54px 32px;
		border: 4px solid #FA903A;
  	}

  	&__link {
  		display: block;
		padding: 8px 36px;
		font-size: 24px;
		text-align: center;
		background-color: #FA903A;
		color:white;
  	}
}

.section {
	&__header {
		margin-top: 24px;
		padding: 32px;
		text-align: center;
		font-size: 30px;
		color:	#FA903A;
		font-family: 'Oleo Script', cursive;
		background-size: cover;

		&--about {
			background-image:url("../img/about.jpg");
		}

		&--menu {
			background-image:url("../img/overnightOats.jpg");
		}

		&--reservation {
			background-image:url("../img/reserved.jpg");
		}

		&--contact {
			background-image:url("../img/pattern-01.png");
		}
	}

	&__heading {
		display: inline-block;
		padding: 16px;
		width: 100%;
		@include bg-color-opacity(white, 0.8);
	}
}

.menu-items-row {
	margin-top: 24px;

	&:last-child {
		margin-bottom: 24px;
	}

	> div {

		@media only screen and (min-width: 768px){
			float: none;
    		width: (100%);
    		height:188px;

		}

		@media only screen and (min-width : 1224px) {
			float: left;
			width: calc(50% - 16px);
			margin-right: 16px;
			height: 188px;

			&:last-child {
				margin-left: 16px;
				margin-right: 0;
			}
		}

		
	}
}

.menu-item {
	padding: 30px;
	width: 100%;
	height: 188px;
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	@media only screen and (min-width: 768px){
		border: solid;
		border-color: #FA903A;
		display: block;
		

	}



	@media only screen and (min-width : 1224px) {
		border: solid;
		border-color: #FA903A;
		background: none;
	}

	&--breakfast {
		background-image: url("../img/breakfast.jpg");

		@media only screen and (min-width : 1224px) {
			background-image: none;
		}
	}
	
	&--lunch {
		background-image: url("../img/lunch.jpg");

		@media only screen and (min-width : 1224px) {
			background-image: none;
		}
	}

	&--dinner {
		background-image: url("../img/dinner.jpg");

		@media only screen and (min-width : 1224px) {
			background-image: none;
		}
	}




	&__link {
		display: inline-block;
		padding: 24px;
		width: 200px;
		font-family: 'Oleo Script', cursive;
		font-size: 30px;
		color:	#000000;
		@include bg-color-opacity(white, 0.8);
		border: solid;
		border-color: #FA903A;

		@media only screen and (min-width : 1224px) {
			background: none;
			border: none;
		}
	}

	&__icon {
		display: none;

		@media only screen and (min-width : 1224px) {
			display: inline-block;
			width: 40px;
			height: 40px;
			background-image: url("../img/icon.png");
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
		
}


.menu-image {
	display: none;

	@media only screen and (min-width : 1224px) {
		display: block;
	

		&__img {
			height: 188px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			&--breakfast {
				background-image: url("../img/breakfast.jpg");
			}

			&--lunch {
				background-image: url("../img/lunch.jpg");
			}

			&--dinner {
				background-image: url("../img/dinner.jpg");
			}
		}
	}

}


.section__body--about { 
	p {
		margin: 30px; 
		padding: 30px;
		border-style: solid;
		border-color: #FA903A;

	}
}

.details {
	padding: 30px;
	

	&__copy {
		margin-top: 15px;
		font-size: 17px;
	}

	&__heading{
		font-size: 30px;
	}
}


.reservation-form {
	label {
		display: block;
	}

	small {
		display: block;
		margin-bottom: 12px;
	}
}

.form-group {
	margin-bottom: 24px;
}

.box-border {
	margin: 30px;
	padding: 30px;
	border: 4px solid #FA903A;
}
.breakfast__menu {
	text-align: center;	
	text-color:#FA903A;
	margin:100px;
}

.breakfast__menu--h1 {
	margin-top: 50px;
	font-family: 'Oleo Script', cursive;
	font-size: 30px;
}
.breakfast__menu--item {
	margin: 30px;
	font-size: 'Roboto', sans-serif;
	font-size: 20px;
	color: #FA903A;
}
.breakfast__menu--details{
	font-size: 'Roboto', sans-serif;
	font-size: 15px;
}

.hamburger__icon{
	resize: 50%;
	color:#FA903A;
	float:right;

}

