@import 'cssresets';
@import 'variables';
@import 'nav';
@import 'img';
@import 'icons';

body {
  background-color: $backcolour;
  color: $fontColor;
}

.home-page__logo{
	width: 50px;
	height:auto;
}

